@import url("https://fonts.googleapis.com/css2?family=Damion&family=Homenaje&family=Josefin+Sans:wght@300;400&family=Kanit:wght@300&family=Mohave:wght@300&family=Oswald:wght@200&family=Space+Grotesk&display=swap");
:root {
  --color-1: #fa6900;
  --color-2: #ffffff;
  --color-3: #f38630;
  --color-4: #ebe4e6;
  --color-5: #128c80;
  --color-6: #15a597;
}

* {
  margin: 0;
  padding: 0;
  color: var(--color-2);
}

/* Podcasts */
body.podcasts {
  font-family: "Kanit", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

main.podcasts {
  border-radius: 1rem;
  top: 0;
  width: 100%;
  height: auto;
  background-color: var(--color-5);
  background-attachment: fixed;
  gap: 4rem;
  overflow-y: scroll;
  display: flex;
  align-items: center;
}

section.secciones-podcasts {
  width: 98%;
  gap: 1.5rem;
}

.secciones-podcasts header {
  width: 100%;
  height: 10%;
  justify-content: space-between;
  user-select: none;
}

.secciones-podcasts h3 {
  font-size: 1.6em;
}

.secciones-podcasts h4 {
  font-size: 1em;
  color: var(--color-4);
  cursor: pointer;
}

.secciones-podcasts h4:hover {
  text-decoration: underline;
}

.container-cartas {
  height: 90%;
  gap: 1rem;
  width: 100%;
  justify-content: start;
}

.carta-podcast {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 100%;
  gap: 1rem;
  padding: 0.5rem;
  justify-content: flex-start;
  padding-bottom: 1rem;
  transition: background-color 0.2s;
}
.carta-podcast:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

a.link-carta {
  padding: 0;
  transform: translateY(-0.8rem);
  height: 100%;
  text-decoration: none;
}

.carta-podcast img {
  height: 10rem;
  border-radius: 10px;
}

.carta-podcast h5 {
  width: 100%;
  font-size: 0.9em;
}

.carta-podcast h6 {
  color: var(--color-4);
  width: 100%;
  font-size: 0.7em;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columna {
  flex-direction: column;
}


/* Podcast */
body.podcast{
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: .5rem;
  padding: .5rem;
}

main.podcast{
  border-radius: 1rem;
  top: 0;
  width: 100%;
  height: auto;
  background-color: var(--color-5);
  background-attachment: fixed;
  gap: 4rem;
  overflow-y: scroll;
  display: flex;
  align-items: center;
}

main.podcast section {
  width: 90%;
}

main.podcast .portada{
  margin-top: 4rem;
  justify-content: start;
  gap: 2rem;
}

.portada img{
  height: 10rem;
  box-shadow: 0 0 40px #222;
  border-radius: 20px;
}

.portada h2{
  font-size: 3em;
}

.portada h4{
  font-size: 1.3em;
}

.portada .titulo{
  height: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.ops{
  justify-content: start;
  width: 100%;
  gap: 1rem;
  margin-bottom:1rem ;
}

.ops button{
  background-color: transparent;
  border: 0;
  border: solid 1px var(--color-2);
  padding: 0.2rem 1rem;
  border-radius: 20px;
  transform: scale(1);
  transition: border .4s, transform .4s;
  cursor: pointer;
}

.ops button:hover{
  border: solid 1px #adadad;
  transform: scale(1.2);
}

.ops a{
  transform: translateY(-0.5rem) scale(1);
  text-align: center;
  font-size: 2em;
  user-select: none;
  cursor: pointer;
  transition: color .4s, transform .4s;
}

.ops a:hover{
  color: #adadad;
  transform: scale(1.2) translateY(-0.5rem);
}

.descripcion{
  gap: 1rem;
  display: flex;
  flex-direction: column;
  text-align: justify;

}

.descripcion h4{
  font-size: 1.2em
}

.descripcion p{
  color: var(--color-2);
}

.descripcion .valoracion, .tematicas div{
  background-color: rgba(0, 0, 0, 0.2);
  width: 7rem;
  padding: .3rem;
  border-radius: 30px;
  text-align: center;
  font-size: .9em;
  transform: scale(1);
  transition:  background-color .4s, transform .4s;
  user-select: none;
}

.descripcion .valoracion:hover, .tematicas div:hover{
  background-color: rgba(0, 0, 0, 0.6);
  transform: scale(1.09);
}

.tematicas{
  gap: 1rem;
  justify-content: start;
}

.tematicas div{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left:.6rem ;
  padding-right: .6rem;
}

.episodios h2{
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
}

.episodio {
  background-color: transparent;
  border-top: solid 2px var(--color-4);
  gap: 2rem;
  padding:1rem;
  transition: .4s background-color;
}

.episodio:hover { 
  background-color: rgba(255, 255, 255, 0.2);
}

.episodio img{
  height: 7rem;
  margin-bottom: auto;
  border-radius: 20px;
}
.episodio .adds{
  width: 100%;
  gap: 1rem;
 justify-content: start;
}

.adds .play{
  padding: .4rem;
  padding-left: .6rem;
  padding-right: .6rem;
  border-radius: 100%;
  color: #222;
  background-color: var(--color-2);
  border:  0;
  cursor: pointer;
  transform: scale(1);
  transition: .4s transform;
}

.adds .play:hover{
  transform: scale(1.2);
}