@import url('https://fonts.googleapis.com/css2?family=Damion&family=Homenaje&family=Josefin+Sans:wght@300;400&family=Kanit:wght@300&family=Mohave:wght@300&family=Oswald:wght@200&family=Space+Grotesk&display=swap');

:root {
    --color-1: #FA6900;
    --color-2: #FFFFFF;
    --color-3: #F38630;
    --color-4: #EBE4E6;
    --color-5: #128C80;
    --color-6: #15a597;
    --color-7: #1bc0b0;
  }

*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    color: white;
}
body{
    display: flex;
    overflow: hidden;
}
main{
    overflow-y: scroll;
    background-color: var(--color-5);
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.inicio{
    margin-bottom: 100px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}
.imagenes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
img{
    border-radius: 10px;
}
.imagen{
    border-radius: 10px;
    display: flex;
    position: relative;
    place-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px ;
    margin-top: 20px;
    font-size: 10px;
    width: 17%;
    padding: 15px;
    height: 250px;
    background-color: var(--color-6);
}
.imagen h2{
    color: #dcd;
}

.imagen:hover{
    background-color: #1bc0b0;
    cursor: pointer;
}
a{
    text-decoration: none;
    text-align: left;
}
a:hover{
    text-decoration: underline;
}
i{
   color: transparent;
   position: absolute;
   height: 40px;
   width: 40px;
   display:flex;
   justify-content: center;
   align-items: center;
}

.imagen:hover i{
    display: block;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 110px;
    padding-left: 18px;
    padding-top: 15px;
    font-size: 30px;
    animation: subir 0.5s;
}

i:hover{
    transform: scale(1.05);
}
@keyframes subir {
    0%{
        transform:translateY(20px);
        opacity:0;
    }
    100%{
        transform:translateY(0px);
        opacity:1;
    }
}