@import url('https://fonts.googleapis.com/css2?family=Damion&family=Homenaje&family=Josefin+Sans:wght@300;400&family=Kanit:wght@300&family=Mohave:wght@300&family=Oswald:wght@200&family=Space+Grotesk&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
body{
    background-color: #EBE4E6;
}

